*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.header{
    
width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgb(5,0,100,0.5),rgb(5,0,100,0.5)), url(img/image.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;

}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
}
nav .logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
   
  
}
nav .logo img{
    width: 190px;
    margin-right: 10px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
    
  
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
nav:hover{
    background: white;
}
nav:hover .logo{
    color:#333;
}
nav:hover ul li a{
color: #333;
}

.container{
    margin-top: 10%;
    margin-left: 55%;
    margin-right: 5%;
    color: #fff;
   
}

.container h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
}
.container p{
    
    max-width: 500px;
    line-height: 30px;
}
#facebook{
    margin-top: 60px;
   
}
.links{
margin-top: 30px;
}
.links a{
color: #fff;
text-decoration: none;
display: inline;
}
.btn{
    border: 2px solid #fff;
    padding: 10px 35px;
    border-radius: 30px;
    margin: 30px;
   
}
.slide{
        animation: slideleft 1s linear backwards;
    }
    @keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
h1.slide{
    animation-delay: 1s;
}
p.slide{
    animation-delay: 2s;
}
.links.slide{
    animation-delay: 3s;
}


